@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-h1-mobile lg:text-h1-desktop font-bold;
  }
  h2 {
    @apply text-h2-mobile lg:text-h2-desktop font-semibold;
  }
  h3 {
    @apply text-h3-mobile lg:text-h3-desktop font-medium;
  }
  h5 {
    @apply text-h5 uppercase;
  }
  p {
    @apply text-p-mobile lg:text-p-desktop;
  }
}

html,
body {
  scroll-behavior: smooth;

}

h1,
h2,
h3,
h5 {
  line-height: 1.2;
}
h1 {
  font-size: 57px;
  letter-spacing: 0;
}
h2 {
  font-size: 38px;
  letter-spacing: 0;
}
h3 {
  font-size: 28px;
  letter-spacing: -0.4px;
}
h5 {
  font-size: 14px;
  letter-spacing: 0.16px;
}
.largeParagraph {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0;
}
.mediumParagraph {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.4px;
}
.link {
  color: #140533;
}
.link:hover {
  color: #000;
  text-decoration: underline;
}
.link:active {
  color: #140533;
  text-decoration: none;
}
.navLink {
  color: #140533;
  text-decoration: none;
}
.navLink:hover {
  color: #5c0b85;
}
.navLink:active {
  color: #140533;
}


.hero-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
          135deg,
          #FCEBEF,
          rgba(0, 204, 255, 0.5)
  );
  z-index: 1;
}


.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
          circle,
          rgba(255, 255, 0, 0.3),
          #FCEBEF
  );
  z-index: 2;
  mix-blend-mode: screen;
}

.hero-section {
  position: relative;
  z-index: 3;
  text-align: center;
  padding: 10vh 22px;
}

@media (min-width: 1024px) {
  .navigation ul {
    flex-direction: row;
  }
  .navigation .hamburger {
    display: none;
  }
  .navigation ul {
    display: flex !important;
  }
  .work-section {
    margin-top: -50vh;
  }
}
